<div id="chartContainer" style="height: 50vh; width: 100%;"></div>

<script type="text/javascript">

  var dataPoints = [];
  var totalPoints = 0;

  var chart = new CanvasJS.Chart("chartContainer", {
      animationEnabled: true,
      title:{
          text: "Temperature Reading from Arduino"
      },
      axisX: {
        valueFormatString: "HH:mm DD MMM"
      },
      axisY: {
        title: "Temperature (in °C)",
        includeZero: true,
        interlacedColor: "#F0F0F0"
      },
      data: [{
      type: "line",
          dataPoints: dataPoints,
      }]
  });

  // When called, it loads the dataset again from the database via
  // the JSON endpoint /points/json (as defined in points_controller.rb)
  // It then also calls to redraw the graph on screen
  function refreshGraph() {

    $.getJSON({
        url: "/points/json",
      }, function(data) {
        $.each(data, function(key, value){
            // Only add the point if it's not already in the list
            if (key > totalPoints) {
              dataPoints.push({x: new Date(value["created_at"]), y: parseFloat(value["data"])});
            }
        });

        // Set the totalPoints for the next time we refresh the graph
        totalPoints = dataPoints.length;

        chart.render();
    });

  }

  $(function() {

    // Run the refreshGraph every 5s
    setInterval(refreshGraph, 5000);

    // But also run it on pageload
    refreshGraph();

  });


</script>
